.container{
    display: flex;
    flex-direction: column;
    /* margin-left: 100px; */
    margin: 0 auto;
}
.faqs{
    color: #f74f58;
    font-family: Agency B;
    margin-left:100px ;
}
.faqs-heading{
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 900;
    margin-right: 100px;
    /* border-bottom: 1px solid #f74f58; */
    
}
.faqs-facts{
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 900;
   
}
.miss-button{
    padding: 10px 70px;
    border: 3px solid #f74f58;
    border-radius: 50px;
    margin-left:100px ;
}
.faqs-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
    padding: 15px 12px;
    width: 90%;
    /* border: 1px solid gray; */
}
.faqs-que{
    cursor: pointer;
    font-family: Agency B;
    font-size: 30px;
    letter-spacing: 1.2px;
    border-radius: 10px;
    border-bottom: 2px solid #f74f58;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    outline: none;
    transition: 0.4s;
    font-weight: bold;

}
.faqs-ans{
    font-family: Agency R;
    font-size: 18px;
    letter-spacing: 1.0px;
    padding: 10px 10px 0px 30px
}
.faqs-que:hover{
    background-color: #f74f58;
}
.list-a{
    list-style-type:square;
   
}
.list-b{
    list-style-type: decimal;
}
.list-para{
    display: contents;
}
.orderList .unorderList{
    padding: 10px;
}
@media screen and (min-width: 360px) and (max-width: 415px) {
    
    
    .faqs-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 15px;
        padding: 1px 0px;
        width: 95%;
        /* border: 1px solid gray; */
    }
    .faqs-heading {
        /* font-size: 44px; */
        font-size: 1.5rem;
        margin-right: 104px;
    }
    .faqs-que{
        font-size: 14px;
    }
    .faqs-ans {
        padding: 10px 10px 0px 12px;
    }
    .about-heading {
        font-size: 1.5rem;
        margin-left: 64px;
    }
  
}
